
/* 
    Created on : Aug 30, 2019, 9:24:36 AM
    Author     : Adrian
*/

i.act-icon-bg{
  position: static;
  opacity: 0.6;
  left: 2px;
  top: 5px;
  line-height: 110px;
  font-size: 119px;
  float : right;
}
.act-tile{
  cursor:pointer;
}