.bg-dt-colvis .inactive{
  background-color: #99999940;
  font-style: italic;;
}
.panel-heading .btn-pnl{
  padding : 15px 12px;
}
table.table.dataTable tfoot{
  display: table-header-group;
}
.section-divider {
  height: 0;
  border-top: 1px solid #DDD;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
}
.section-divider span {
  display: inline-block;
  position: relative;
  padding: 0 17px;
  background: #e9e9e9;
  color: #999;
  top: -11px;
  font-size: 15px;
  color : #3498db;
  background: #ffffff;
}
a.icon20 i, i.icon20{
  font-size: 20px !important;
}
.sidebar-menu > li > ul > li > a > span:nth-child(1){
  font-size: 15px !important;
}
.sidebar-menu > li > a > span:nth-child(1){
  font-size: 18px !important;
}
.navbar-branding{
  width: 300px;
}
div#dt_panel .panel-icon i{
  font-size:40px;
  vertical-align: middle;
}