/***
UI Loading
***/
.blockUI.blockOverlay{
  z-index: 1050!important;
}
.blockUI.blockMsg{
  z-index: 1060!important;
}
.loading-message {
  display: inline-block;
  min-width: 125px;
  margin-left: -60px;
  padding: 10px;
  margin: 0 auto;
  color: #000 !important;
  font-size: 13px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle; }
  .loading-message.loading-message-boxed {
    border: 1px solid #ddd;
    background-color: #eee;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
  .loading-message > span {
    line-height: 20px;
    vertical-align: middle; }

.page-loading {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 125px;
  margin-left: -60px;
  margin-top: -30px;
  padding: 7px;
  text-align: center;
  color: #333;
  font-size: 13px;
  border: 1px solid #ddd;
  background-color: #eee;
  vertical-align: middle;
  -webkit-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.1); }
  .page-loading > span {
    line-height: 20px;
    vertical-align: middle; }

.page-spinner-bar {
  position: fixed;
  z-index: 10051;
  width: 100px;
  top: 40%;
  left: 50%;
  margin-left: -55px;
  text-align: center; }
  .page-spinner-bar > div {
    margin: 0 5px;
    width: 18px;
    height: 18px;
    background: #eee;
    border-radius: 100% !important;
    display: inline-block;
    -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
    animation: bounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .page-spinner-bar .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .page-spinner-bar .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }

.block-spinner-bar {
  display: inline-block;
  width: 80px;
  text-align: center; }
  .block-spinner-bar > div {
    margin: 0 2px;
    width: 15px;
    height: 15px;
    background: #eee;
    border-radius: 100% !important;
    display: inline-block;
    -webkit-animation: bounceDelay 1.4s infinite ease-in-out;
    animation: bounceDelay 1.4s infinite ease-in-out;
    /* Prevent first frame from flickering when animation starts */
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both; }
  .block-spinner-bar .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s; }
  .block-spinner-bar .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s; }
    
@-webkit-keyframes bounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0); }
  40% {
    -webkit-transform: scale(1); } }

@keyframes bounceDelay {
  0%, 80%, 100% {
    transform: scale(0);
    -webkit-transform: scale(0); }
  40% {
    transform: scale(1);
    -webkit-transform: scale(1); } }
/****
 CSS3 Spinner Bar  
****/
.page-spinner-bar > div,
.block-spinner-bar > div {
  background: #6fa7d7; }

.modal-footer{
  background-color: #ffffff;
}
div.ingroup{
  padding-left: 0px;
  padding-right: 0px;
}
.select2-container{
  width: 100% !important;
}
.select2-selection{
  height: auto !important;
}
.select2-container--default .select2-selection--single .select2-selection__rendered{
  line-height: 39px !important;
}
.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 36px !important;
}
.has-error .select2-selection--single{
  border-color: #e67d6c !important;
}
.has-success .select2-selection--single{
  border-color: #93d789 !important;
}

span.label-required{
  color: #e67d6c;
}
.has-error .icheck-label{
  color: #e67d6c;
}
label.hlp-msg{
  font-weight: 400 !important;
  padding-left: 5px;
}
.has-error label.hlp-msg{
  color:  #e67d6c;
}
.hlp-msg span{
  display: none;
}
.modal-full {
  width: 90%;
}
.icon20 i{
  font-size: 20px !important;
}
.iconpt10{
  padding-top: 10px;
}
.dz_removed span{
  text-decoration: line-through;
  font-style: italic;
}
@media print{
  div#print{
    display: block !important;
  }
  div#main{
    display: none !important;
  }
   
}

.form-horizontal .form-label {
    font-size:17px;
    margin-bottom: 0;
    padding-top: 7px;
  }

  div.col-inp form{
    margin-top:15px
  }
  .dd-dz-item{
    min-height: 40px!important;
  }
  .dd-dz-item .dd-handle{
    width: 87% !important;
    position: relative !important;
    float: left !important;
    margin-top: 0px;
  }
  .dd-dz-item a{
    margin-top: 10px;
  }

  .text-hint{
    color: #999999;
    font-size: 11px;
    display: box;
    margin-top: 5px;
  }
  .clickable{
    cursor: pointer;
    color:#3498db;
  }
  .icon-lg{
      font-size: 25px !important;
  }