.jnsstp-title{
    font-size: 19px;
    padding: 0px 10px;
}
ul.syarat_stp li{
    cursor: pointer;
}
ul.syarat_stp li:hover{
    background: #f3f3f314;
}
#tab_usrstp .pricing-table .pricing-plan{
    margin: 20px -10px 10px 0px;
}
#tab_usrstp .plan-header{
    padding: 20px 5px 20px;
}
#tab_usrstp div.tab-pane{
    min-height: 100px;
}
.nav-icon{
  font-size: 21px;
}
ol.timeline-list li.timeline-item{
  padding: 15px 15px 15px 50px;
}
.bootbox.modal{
	z-index: 1600;
}
.panel .panel-heading button{
  height: -webkit-fill-available;
} 