div.mix{
  display:inline-block;
}
.mix-controls{
  margin-bottom: 5px;
}
.mix-container:after {
  content: "";
  display: inline-block;
  width: 100%;
}
.mix-container{
  background: #eeeeee;
  padding: 10px 10px 0px 10px;
  text-align: justify;
  font-size: 0.1px;
}
.mix-container .mix,
.mix-container .gap {
  display: none;
  vertical-align: top;
  width: 23.5%;
  margin-bottom: 20px;
}
.mix-container .fail-message {
  display: none;
  text-align: center;
  font-size: 22px;
  color: #999;
  margin-top: 50px;
}
@media (max-width: 1350px) {
  .mix-container .mix,
  .mix-container .gap {
    width: 31.5%;
  }
}
@media (max-width: 750px) {
  .mix-container .mix,
  .mix-container .gap {
    width: 48%;
  }
}
.mfp-bg{
  z-index: 1070 !important;
}
.mfp-wrap{
  z-index: 1071 !important;
}